.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__user {
    display: flex;
    align-items: center;
}

.header__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.header__desc .MuiTypography-root {
    line-height: 1.2;
}

.header__nav {
    .MuiLink-root {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.header__paper {
    &.MuiPaper-rounded {
        border-radius: 0;

    }
}

.header__nav-item {
    cursor: pointer;

    a {
        color: #fff;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none !important;
        color: #cddc39;

        a {
            color: #cddc39;
        }
    }
}